@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: "TypoGrafica";
    src: url(../fonts/TypoGraphica_demo.otf);
}
@font-face{
    font-family: 'roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    margin: 0px;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 48px;
}
nav input{
    background-color: #B7B7B3;
    border: 0px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3px;
    margin-right: 10px;
    outline: none;
}

#input{
    width: 269px;
    box-sizing: border-box;
    height: 37px;
    background-color: #B7B7B3;
    opacity: 0.6;
    border-radius: 15px;
    border: 0px;
    margin: auto;
    margin-top: 11px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
nav img{
    margin: auto;
    height: 30px;
}
#lupa{
    z-index: 5;
}

#linha{
    border: 0.1rem solid #102660;
    width: 100%;
    margin: 0px;
}
#linhas{
    width: 100vw;
    display: flex;
    margin: 0px;
    margin-top: 8px;
}

.boxInicio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#containerScroll{
    margin-top: 16px;
    height: 467.5px;
    overflow-y: scroll;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;    
    width: 100vw;
    align-content: center;
}

.boxInicio p{
    width: 141px;
    height: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #102660;
    background: #102660;
    color: white;
    text-align: center;
    font-family: 'roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 45px;
}

.boxInicio a{
    font-family: 'roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 7px;
     
}

.boxInicio .img, .boxInicio img{
    width: 41px;
    height: 41px;
}

.boxInicio:last-child img{
    display: flex;
    justify-content: center;
    width: auto;
    height: 41px;
}

div.title{
    background-color:#102660;
    width: 60vw;
    color:white;
    margin-left:0px;
    border-radius:0px 50px 50px 0px;
    display: flex;
    padding: 0.5rem 2rem;
    font-size: 20px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: bold;
    margin: 3px 0 8px 0;
}

footer{     
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    align-items: center;
    background-color: #0B193D;
    position: fixed;
    width: 100vw;
    height: 49px; 
    left: 0px;
    bottom: 0px;
    z-index: 999;    
}

footer img{
    height: 37px;
    display: flex;
    flex-direction: row;        
    box-sizing: border-box;   
}
.menu{
    height: calc(100vh - 49px);
    padding: 0;
    list-style: none;
    z-index: 998;
    display: flex;
    position: fixed;
    top: 0px;
    right: -100%;
    background: #C4C4C4;
    margin: 0px;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.95;
    width: 231px;
    transition: right 0.5s ease;
}

.menu li a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #102660;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto';
}
.menu li{
    margin-left: 21px;
    margin-top: 30px;
}
.menu img{
    height: 27px;
}
.menu span{
    margin-left: 6px;
}

#interrogation{
    margin-left: 6.75px;
    margin-right: 6.75px;
}

li:first-child{
    margin-top: 435.2px;
}
li:last-child{
    margin-bottom: 30px;
}
.menu.active{
    right: 0px;
}

.titulos{
    background: #102660;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    align-items: center;
    width: 254px;
}

.titulo{
    font-family: 'Roboto';
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #F5EAEA;
}

#first-title{
    margin-top: 8px;
}

.left{
    text-align: left;
}

.titulo-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    width: 254px;
    height: 40px;
    margin: 0;
}
/* VH 640 */
@media screen{
  
    
    nav{
        height: 7.5vh;
    }
    nav input{
        font-size: 3.125vh;
        margin-bottom: 0.46875vh;
        margin-right: 1.5625vh;
    }
    
    #input{
        width: 42.03125vh;
        height: 5.78125vh;
        opacity: 0.09375vh;
        border-radius: 2.34375vh;
        margin-top: 1.71875vh;
        padding-left: 2.34375vh;
    }
    nav img{
        height: 4.6875vh;
    }
    #lupa{
        z-index: 0.78125vh;
    }
    
    #linha{
        border: 0.015625vh solid #102660;
    }
    #linhas{
        margin-top: 1.25vh;
    }

    #containerScroll{
        margin-top: 2.5vh;
        height: 73.046875vh;
    }
    
    .boxInicio p{
        width: 22.03125vh;
        height: 15.46875vh;
        border: solid 0.3125vh  #102660;
        font-size: 1.875vh;
        border-radius: 1.5625vh;
        margin-bottom: 7.03125vh;
    }
    
    .boxInicio a{
        font-size: 2.1875vh;
        margin-top: 1.5625vh;
        margin-bottom: 1.09375vh;
         
    }
    
    .boxInicio .img, .boxInicio img{
        width: 6.40625vh;
        height: 6.40625vh;
    }
    
    .boxInicio:last-child img{
        height: 6.40625vh;
    }
    
    div.title{
        border-radius:0px 7.8125vh 7.8125vh 0px;
        padding: 0.078125vh 0.3125vh;
        font-size: 3.125vh;
        margin: 0.46875vh 0 1.25vh 0;
    }
    
    footer{     
        height: 7.65625vh; 
        z-index: 156.09375vh;    
    }
    
    footer img{
        height: 5.78125vh;  
    }
    .menu{
        height: calc(100vh - 7.65625vh);
        z-index: 155.9375vh;
        opacity: 0.1484375vh;
        width: 36.09375vh;
        transition: right 0.078125vh ease;
    }
    
    .menu li a{
        font-size: 1.875vh;
        line-height: 2.1875vh;   
    }

    .menu li{
        margin-left: 3.28125vh;
        margin-top: 4.6875vh;
    }
    .menu img{
        height: 4.21875vh;
    }
    .menu span{
        margin-left: 0.9375vh;
    }
    
    #interrogation{
        margin-left: 1.0546875vh;
        margin-right: 1.0546875vh;
    }
    
    li:first-child{
        margin-top: 68vh;
    }
    li:last-child{
        margin-bottom: 4.6875vh;
    }

    .titulos{
        border-top-right-radius: 7.8125vh;
        border-bottom-right-radius: 7.8125vh;
        width: 254px;
    }
    
    .titulo{
        font-size: 3.125vh;
    }
    
    #first-title{
        margin-top: 1.25vh;
    }
    
    .titulo-icons{
        width: 39.6875vh;
        height: 6.25vh;
    }
}
/* VW 360 */
@media screen and (max-aspect-ratio: 360/640){
    
    nav{
        height: 13.333333333333334vw;
    }
    nav input{
        
        font-size: 5.555555555555555vw;
        margin-bottom: 0.8333333333333334vw;
        margin-right: 2.7777777777777777vw;
    }
    
    #input{
        width: 74.72222222222223vw;
        height: 10.277777777777777vw;
        opacity: 0.16666666666666666vw;
        border-radius: 4.166666666666666vw;
        margin-top: 3.0555555555555554vw;
        padding-left: 4.166666666666666vw;
    }
    nav img{
        height: 8.333333333333332vw;
    }
    #lupa{
        z-index: 1.3888888888888888vw;
    }
    
    #linha{
        border: 0.027777777777777776vw solid #102660;
    }
    #linhas{
        margin-top: 2.2222222222222223vw;
    }
    
    #containerScroll{
        margin-top: 4.444444444444445vw;
        height: 129.86111111111111vw;
    }
    
    
    .boxInicio p{
        width: 39.166666666666664vw;
        height: 27.500000000000004vw;
        border: solid 0.5555555555555556vw #102660;
        font-size: 3.3333333333333335vw;
        border-radius: 2.7777777777777777vw;
        margin-bottom: 12.5vw;
    }
    
    .boxInicio a{
        font-size: 3.888888888888889vw;
        margin-top: 2.7777777777777777vw;
        margin-bottom: 1.9444444444444444vw;
         
    }
    
    .boxInicio .img, .boxInicio img{
        width: 11.38888888888889vw;
        height: 11.38888888888889vw;
    }
    
    .boxInicio:last-child img{
        height: 11.38888888888889vw;
    }
    
    div.title{
        border-radius:0px 13.88888888888889vw 13.88888888888889vw 0px;
        padding: 0.1388888888888889vw 0.5555555555555556vw;
        font-size: 5.555555555555555vw;
        margin: 0.8333333333333334vw 0 2.2222222222222223vw 0;
    }
    
    footer{     
        height: 13.61111111111111vw; 
        z-index: 277.5vw;    
    }
    
    footer img{
        height: 10.277777777777777vw; 
    }
    .menu{
        height: calc(100vh - 13.61111111111111vw);
        z-index: 277.22222222222223vw;
        opacity: 0.2638888888888889vw;
        width: 64.16666666666667vw;
        transition: right 0.1388888888888889vw ease;
    }
    
    .menu li a{
        font-size: 3.3333333333333335vw;
        line-height: 3.888888888888889vw;
    }
    .menu li{
        margin-left: 5.833333333333333vw;
        margin-top: 8.333333333333332vw;
    }
    .menu img{
        height: 7.5vw;
    }
    .menu span{
        margin-left: 1.6666666666666667vw;
    }
    
    #interrogation{
        margin-left: 1.875vw;
        margin-right: 1.875vw;
    }
    
    li:first-child{
        margin-top: 120.88888888888889vw;
    }
    li:last-child{
        margin-bottom: 8.333333333333332vw;
    }
   
    
    .titulos{
        border-top-right-radius: 13.88888888888889vw;
        border-bottom-right-radius: 13.88888888888889vw;
        width: 70.55555555555556vw;
    }
    
    .titulo{
        font-size: 5.555555555555555vw;
    }
    
    #first-title{
        margin-top: 2.2222222222222223vw;
    }
    
    
    .titulo-icons{
        width: 70.55555555555556vw;
        height: 11.11111111111111vw;
    }
}
