@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: "TypoGrafica";
    src: url(../fonts/TypoGraphica_demo.otf);
}
@font-face{
    font-family: 'roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100vw; 
    height: 8vh;   
}

nav input{
    width: 85vw;
    height: 6vh;
    background-color: #B7B7B3;
    opacity: 0.6;
    border-radius: 15px;
    border: 0px;
    margin-top: 11px;
}
nav img{
    height: 8vh;

}

#linha{
    border: 0.1rem solid #102660;
    width: 100vw;
    margin: 0px;
}
#linhas{
    display: flex;
    margin: 0px;
    margin-top: 12px;
}
