@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: "TypoGrafica";
    src: url(../fonts/TypoGraphica_demo.otf);
}
@font-face{
    font-family: 'roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0px;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 48px;
}
nav input{
    background-color: #B7B7B3;
    border: 0px;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3px;
    margin-right: 10px;
    outline: none;
}

#input{
    width: 269px;
    box-sizing: border-box;
    height: 37px;
    background-color: #B7B7B3;
    opacity: 0.6;
    border-radius: 15px;
    border: 0px;
    margin: auto;
    margin-top: 11px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
nav img{
    margin: auto;
    height: 30px;
}

#linha{
    border: 0.1rem solid #102660;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
}
#linhas{
    width: 100vw;
    display: flex;
    margin: 0px;
    margin-top: 8px;
}

.conteudoIndividualBox{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo{
    margin: 16px auto;
    padding: 9px 18px;
    font-family: 'Roboto';
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #F5EAEA;
}
.titulos{
    background: #102660;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    align-items: center;
    width: 304px;
    margin-top: 8px;
    align-self: flex-start;
}
.left{
    text-align: left;
}
#first-title{
    margin-top: 8px;
}

scroll::-webkit-scrollbar{
    display: none;
}

.gifsIndividual{
    margin: auto;
}
.scroll{
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.gifs{
    width: 287px;
    height: 196px;
    background-color: #5787BC;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    overflow-x: scroll;
}
.estrelinha{
    margin-left: 30px;
    align-self: flex-start;
}

.textoBox{
    align-self: center;
    margin: 0px;
}

.textoCorpo{
    width: 276px;
    height: 147px;
    background-color: #7C91C6;
    margin: 0px;
    padding: 10px;
}

.textoIndividual{
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}





footer{     
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    align-items: center;
    background-color: #0B193D;
    position: fixed;
    width: 100vw;
    height: 49px; 
    left: 0px;
    bottom: 0px;
    z-index: 999;    
}

footer img{
    height: 37px;
    display: flex;
    flex-direction: row;        
    box-sizing: border-box;   
}
.menu{
    height: calc(100vh - 49px);
    padding: 0;
    list-style: none;
    z-index: 998;
    display: flex;
    position: fixed;
    top: 0px;
    right: -100%;
    background: #C4C4C4;
    margin: 0px;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0.95;
    width: 231px;
    transition: right 0.5s ease;
}

.menu li a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #102660;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto';
}
.menu li{
    margin-left: 21px;
    margin-top: 30px;
}
.menu img{
    height: 27px;
}
.menu span{
    margin-left: 6px;
}