body{    
    display: flex;
    flex-direction: row;
    align-content: center;   
    margin: 0;
    padding: 0;
}

#left{
    width: 500px;
<<<<<<< HEAD
}

#right{
    width: 500px; 
=======
    background-color: #102660;
}

#right{
    width: 500px;
    background-color: #102660;  
>>>>>>> parent of 2aba44f... Update styleLoading.css
}

#tela{
    width: 320px;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

#logo{    
    width: 212px;
    display: flex;
    justify-self: center;   
}

#up{
    background-image: url(../img/Ellipse_2.svg);
    height: 300px;  
    width: 320px;
    background-size: cover;
    
}

#down{       
    background-image: url(../img/Ellipse_1.svg);
    height: 240px;  
    width: 320px;
    background-size: cover;   
}

