body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


#logo{    
    width: 212px;
    display: flex;
    justify-self: center;   
}

#up{
    background-image: url(../img/Ellipse_2.svg);
    height: 100vh;  
    background-repeat: no-repeat;
    background-size: cover;
    
}

#down{       
    background-image: url(../img/Ellipse_1.svg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;   
}

