@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
    display: flex;
    flex-direction: column;
    align-items: center;     
}
body{
    width: 100vw;
    height: 100vh;
}
@font-face {
    font-family: "TypoGrafica";
    src: url(../Pages/Fonts/TypoGraphica_demo.otf);
}
@font-face{
    font-family: 'roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
}

input, option, select, #nasc {
    background-color: #102660;
    color:#F5EAEA;    
    font-family: "TypoGrafica";
    align-content: center;
    align-items: center;
    text-align: left;
    border-radius: 50px;
    margin-top: 20px;    
    font-size: 20px; 
    width: fit-content;
    padding: 0px 15px;    
}
main{
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
#topo{
    margin: 0px 0;
    color: #00081D;
    font-size: 16px;
    font-family: "TypoGrafica";
}
#recuperar{
    font-family: "TypoGrafica";
    font-size: 15px;
    color: #00081D;
}
#condicoes{
    background-color: #102660;
    border-radius: 50%;
}
#form1 input {
    font-family: 'Roboto', sans-serif;       
}
#lembrarSenha{
    display: flex;
    flex-direction: row;      
    margin: 0px 0px;    
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #00081D;       
    padding: 0px 0px;     
}
img{
    width: 25px;
    height: 25px;
}
#enviar{
    padding: 0px 15px;
    border: 0px;
    margin-bottom: 10px;
}

#meio{
    font-size: 40px;
    margin: 50px 0;
}

.foot{
    justify-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #00081D;
    margin: 0px 0px;   
    font-size: 12px;     
}

#formDate{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#logo{
    margin-top: 40px;
    margin-bottom: 70px;
    width: 160px;
    height: 60px;
}

::placeholder{
    opacity: 1;
    color: #F5EAEA;
    font-family: 'Roboto', sans-serif;
}

#dividir{
    display: flex;
    justify-content: space-between;
}

#metade{
    justify-content: space-around;
}